/.idea
/.pytest_cache
/.vscode
/allure-results
/assets
/junit
/Junitsetup
/main.py
/regis.py
/shoppingcart.py
/TaiLieu
/TestSelenium
/test_env
/test_main.py
/test_regis.py
/test_shoppingcart.py
/treeshop.py
/__pycache__